body {
    background-color: whitesmoke;
    height: 100%;
    box-sizing: border-box;
}

.header {
    background-color: #3f485a;
    height: 100px;
    display: grid;
    align-content: center;
    justify-content: center;
    border-bottom: 5px solid white;
}

.header-title {
    font-size: 2em;
    color: whitesmoke
}

.master-container {
    display: flex;
    height: calc(100vh - 100px - 10px);
    /* - header height */
    width: 100%;
}

.nav {
    padding: 10px;
    background-color: #657086;
    width: 340px;
    display: flex;
    flex-direction: column;
    border-right: 4px solid white;
}

ul li {
    line-height: 2.2em;
    transition: all 400ms ease-in-out;
    color: whitesmoke;
    padding-left: 25px;
    font-size: 1.3em;
    position: relative;
}

ul li:hover {
    background-color: #9d9c9c;
    transform: scale(1.03)
}

ul li:active {
    background-color: #969696;
}

.li-active-color {
    background-color: #b1aeae;
}

li img.delete-project {
    position: absolute;
    right: 20px;
    top: 25%;
    /*centers the button*/
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    transition: all 200ms ease-in-out;
    width: 20px;
}

#new-project-button {
    justify-self: center;
    align-self: center;
    margin-top: 20px;
    height: 30px;
    width: 140px;
    border: none;
    border-radius: 25px;
    background-color: #8e9eb5;
    font-size: 1em;
    color: whitesmoke;
    transition: all 400ms ease-in-out;
}

#new-project-button:hover {
    background-color: #d4d1d1;
    color: black;
    transform: scale(1.1);
}

#new-project-button:active {
    background-color: #9bb7eb;
}

#new-project-form {
    display: none;
}


.projects-word {
    margin-top: 20px;
    margin-bottom: 5px;
    color: whitesmoke;
    font-size: 1.8em;
    padding-left: 5px;
}

#content-wrapper {
    background-color: #bec2ca;
    padding: 10px;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.to-do {
    border: 2px solid #539db6;
    border-radius: 10px;
    display: flex;
    font-size: 1.2em;
    padding: 15px;
    transition: all 200ms ease-in-out;
    background-color: #abd6d9;
    height: 25px;
}

.to-do:hover {
    background-color: #90dde2;
}

.to-do .left-div {
    display: grid;
    grid-template: 1fr / 0.2fr 1fr 1fr;
}

.left-div, .right-div{
    position: relative;
}

.edit-to-do-title, .edit-priority, .edit-due-date{
    position: absolute;
}

.left-div>button.details-button {
    width: 100px;
    height: 25px;
    font-size: 0.8em;
    background-color: #739fd9;
    transition: all 200ms ease-in-out;
    border: none;
    border-radius: 5px;
}

.left-div>button:hover {
    background-color: #8eafdb;
}

.to-do .right-div {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
}

.to-do>* {
    flex: 1 1 0;
}

.to-do img {
    width: 15px;
}


#task-form {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.form-buttons-wrapper {
    display: flex;
    gap: 20px;
}

.form-buttons-wrapper button {
    flex: 1 1 0;
}


/* When a ToDo is checked */
.strike-through {
    position: relative;
}

.strike-through:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: min(7%, 50px);
    border-bottom: 2px solid #111;
    width: calc(100% - 75px);
}

/* MODAL */
/* The Modal (background) */
.modal-wrapper {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}