body {
    background-color: antiquewhite;
    height: 100%;
    box-sizing: border-box;
}

.header {
    background-color: aquamarine;
    height: 100px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.header-title {
    font-size: 2em;
}

.master-container {
    display: flex;
    height: calc(100vh - 100px);
    /* - header height */
    width: 100%;
}

.nav {
    background-color: blueviolet;
    width: 350px;
}

ul li {
    border: 2px solid #ffffff;
    line-height: 2.2em;
}

ul li:hover {
    background-color: #888;
}

ul li:active {
    background-color: #5e5e5e;
}

.li-active-color{
    background-color: red;
}

#content-wrapper {
    background-color: gainsboro;
    width: 100%;
}

#task-form {
    /* display: none; */
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 70%;
    margin: auto;
}

.form-buttons-wrapper {
    display: flex;
    gap: 20px;
}

.form-buttons-wrapper button {
    flex: 1 1 0;
}

.to-do {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.to-do>* {
    border: 2px solid blue;
}

.to-do img {
    width: 15px;
}


/* When a ToDo is checked */
.strike-through {
    position: relative;
}

.strike-through:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 20px;
    border-bottom: 2px solid #111;
    width: calc(100% - 20px - 15px); /*full width - left padding - length of bin img*/
}

/* MODAL */
/* The Modal (background) */
.modal-wrapper {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}